*{
    /* background-color: white; */
}

.title-danger {
    color: orangered;
}

:where(.css-dev-only-do-not-override-dz3jpi).ant-form-item .ant-form-item-label >label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before{
    content: '***';
    color: silver;
}

.section{
    margin-top: 20px;
    margin-bottom: 20px;
}

