* {
  /* background-color: white; */
}

@media (max-width: 575.98px) {
  .promotion-carousel {
    height: 20vh;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .promotion-carousel {
    height: 30vh;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .promotion-carousel {
    height: 45vh;
  }
}

@media (min-width: 992px) {
  .promotion-carousel {
    height: 50vh;
  }
}

.title-danger {
  color: orangered;
}

:where(.css-dev-only-do-not-override-dz3jpi).ant-form-item
  .ant-form-item-label
  > label.ant-form-item-required:not(
    .ant-form-item-required-mark-optional
  )::before {
  content: "***";
  color: silver;
}

.section {
  margin-top: 20px;
  margin-bottom: 20px;
}

.categories-list .category-item img {
  width: 100%;
  max-width: 200px;
  max-height: 300px;
  object-fit: cover;
  border-radius: 4;
  cursor: pointer;
}

.product-item .ant-typography {
  margin-bottom: 0;
}

.product-item{
  position: relative; 
}

.product-item .image{
  position: relative;
}

.product-item .image .img{
  object-fit: cover;
  
}

.product-item .hover-content{
  position: absolute;
  top: 0;
  left: -10;
  /* right: 0; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  opacity: 0;
  transition: opacity 1s ease;
  /* background: rgba(0, 0, 0, 0.3); */
}

.product-item:hover .hover-content {
  opacity: 1; 
}

.product-item .hover-content .top-right {
  position: absolute;
  top: 15px;
  right: 5px;
  /* background-color: rgba(0, 0, 0, 0.5);  */
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.product-item .hover-content .top-right .ant-btn {
  border-radius: 100;
  margin-bottom: 10px;
}



.product-item .hover-content .bottom {
  position: absolute;
  bottom: 60px;
  width: 100%;
  text-align: center;
  /* background-color: rgba(0, 0, 0, 0.5); */
  padding: 5px;
  border-radius: 5px;
}


.product-item:hover {
  box-shadow: 1px 0px 35px 18px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 0px 35px 18px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 0px 35px 18px rgba(0, 0, 0, 0.1);
  transition: 0.7s;
  cursor: pointer;
}

.categories-list .category-item .category-item-content {
  padding: 5 0;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
  max-height: 3.5em;
}

.product-detail .ant-typography{
  margin-bottom: 0;
}

.sub-product-gallery{
  position: relative;
  overflow-x: scroll;
  width: 100%;
  display: flex;
  scroll-behavior: smooth;
  
}

.sub-product-gallery div {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 10 0;
  grid-gap: 5px;
}

/* .sub-product-gallery div img{

} */

.sub-product-gallery::-webkit-scrollbar{
  display: none;
}

.sub-product-gallery-wrap{
  display: flex;
  align-items: center;
  justify-content: center;

}

.sub-product-gallery-wrap #btn-back{
  left: 0;
}

.sub-product-gallery-wrap #btn-next{
  right: 0;
}

.sub-product-gallery-wrap #btn-next, #btn-back{
  position: absolute;
  z-index: 1000;
}

.sub-product-gallery-wrap .btn{
  border-radius: 100;
  width: 25px;
  height: 25px;
  padding: 0;
  justify-items: center;
}

.sub-product-gallery-wrap .btn:hover{
  width: 40px;
  height: 40px;
  transition: 0.3s;
}

.sub-product-gallery-wrap .btn .btn-icon{
  display: flex;
  justify-content: center;
}


.sub-product-gallery-wrap .btn:hover .btn-icon{
  width: 20px;
  height: 20px;
}

.sub-product-gallery img:hover{
  transform: scale(1.05);
}


